* {
    margin: 0;
    padding: 0;
}

.content {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

header {
    height: 323px;
    background-color: #445161;
    color: white;
    padding: 30px;
}

header .textHeader h1 {
    padding: 20px;
    float: left;
    font-size: 60px;
    font-weight: 400;
}

header .textHeader ul {
    margin-left: 20px;
    float: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    clear: both;
}

header img {
    float: right;
    margin-right: 20px;
    margin-top: -60px;
}

@media (max-width: 1200px) {
    .content {
        width: 1140px;
    }
}

@media (max-width: 992px) {
    .content {
        width: 960px;
    }
    header {
        width: 960px;
        margin: 0 auto;
    }
    header .textHeader h1 {
        font-size: 50px;
    }
    header .textHeader ul {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .content {
        width: 720px;
    }
    header {
        padding-left: 0;
        padding-right: 0;
        width: 700px;
        height: 460px;
    }
    .textHeader {
        width: 54%;
        margin: 0 auto;
    }
    header .textHeader h1 {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    header .textHeader ul {
        margin: 0;
    }
    header img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 576px) {
    .content {
        width: 540px;
    }
    header {
        padding-left: 0;
        padding-right: 0;
        width: 520px;
        height: 500px;
    }
    header .textHeader h1 {
        font-size: 35px;
    }
    header .textHeader ul {
        font-size: 15px;
        padding-left: 0;
    }
    .characteristic {
        width: 150%;
    }
    header img {
        margin: 20px auto;
    }
}

.characteristic {
    padding-left: 30px;
    padding-top: 15px;
    list-style-image: url(../img/check_icon.png);
}

.aboutProduct {
    height: 333px;
}

.aboutHeader {
    float: left;
    padding: 30px 0 0 30px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
}

.leftPart {
    clear: both;
    float: left;
    padding: 30px;
    width: 50%;
}

.firstParagraph {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.secondParagraph {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.rightPart img {
    float: right;
    margin-top: -20px;
    margin-right: 50px;
}

@media (max-width: 992px) {
    .leftPart {
        width: 48%;
    }
    .rightPart img {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .aboutProduct {
        height: 600px;
        display: block;
    }
    .aboutHeader {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .leftPart {
        width: 90%;
        margin: 0 auto;
    }
    .rightPart img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.dignity {
    background-color: #f5f5f5;
    color: #333333;
    height: 400px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.dignityHeader {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #445161;
    padding: 30px 0 30px 0;
}

.dignityParagraph {
    height: 50px;
    margin: 0 auto;
}

.leftParagraph {
    width: 45%;
    float: left;
    padding-left: 40px;
}

.paragraph {
    width: 95%;
    margin: 0 auto;
}

.paragraph:nth-child(even) {
    padding-bottom: 15px;
}

.paragraph:nth-child(odd) {
    padding-bottom: 15px;
}

.paragraph::before {
    content: url(../img/plus.png);
    display: block;
    height: 60px;
    margin-left: -20px;
    margin-right: 8px;
    margin-top: 5px;
    float: left;
}

.rightParagraph {
    width: 48%;
    padding-left: 40px;
    float: left;
}

@media (max-width: 1200px) {
    
    .dignityParagraph {
        width: 100%;
        margin: 0 auto;
    }
    
    .leftParagraph {
        width: 40%
    }
    .rightParagraph {
        width: 40%;
    }
    
    .paragraph::before {
        height: 100px;
    }
}

@media (max-width: 992px) {
    .paragraph::before {
        height: auto;
    } .leftParagraph {
        width: 80%;
    }
    .rightParagraph {
        float: none;
        width: 80%;
    }
}