@import "variables";

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 20px 0;
}

.logoAndNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.nav {
    a {
        text-decoration: none;
        font-family: $mainFont;
        color: black;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 10px;
        transition-duration: .5s;


        &:hover {
            color: #4e26fd;

        }
    }
}

.imgLayer {
    display: flex;
    flex-flow: row wrap;

    .leftImg img {
        height: inherit;
    }

    .rightImg {
        display: flex;
        flex-direction: column;
    }
}

.textImgInside {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 50px;
    transform-origin: 0 0;
    transform: scaley(2);

    .firstLine {
        color: white;
        margin-top: -100px;
        margin-left: 40px;
        letter-spacing: 5px;
    }
    
    .secondLine {
        font-stretch: extra-condensed;
        letter-spacing: 3px;
        margin-left: 40px;
        font-size: 50px;
        font-weight: 800;
    }
}





