@font-face {
  font-family: "OpenSans-Regular", sans-serif;
  src: url(../fonts/OpenSans-Regular-ttf); }

* {
  margin: 0;
  padding: 0; }

.container {
  width: 1500px;
  margin: 0 auto; }

header {
  width: 100%;
  padding: 20px 0; }

.logoAndNav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.nav a {
  text-decoration: none;
  font-family: "OpenSans-Regular", sans-serif;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 10px; }
  .nav a:hover {
    font-weight: 700; }
